* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: white;
  font-family: Russo One;
}

a {
  text-decoration: none;
  color: white;
}

#imageInput {
  display: none;
}

button {
  border: 1px solid white;
  background-color: #242424;
  font-family: Russo One;
  border-radius: 1em;
  padding: 20px;
  color: white;
  align-self: center;
  cursor: pointer;
  width: 13.75em;
  font-size: 1rem;
}

.navbar {
  /* background-color: #070707; */
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  display: flex;
  padding: 50px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5em;
  padding: 50px;
  margin: 0 auto;
}

/* LEFT SECTION */

.Left_Section {
  margin-right: 10em;
}

.Upload_Img_Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Profile_Img {
  border-radius: 20em;
  border: 3px solid rgba(245, 245, 245, 0.733);
  height: 380px;
  width: 380px;
  margin-bottom: 2.5em;
}

.Profile_Img img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1em;
}

/* DIVIDER */

.divider {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.685);
}

/* RIGHT SECTION */

.Right_Section {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Right_Section::-webkit-scrollbar {
  width: 5px;
  border-radius: 100px;
  padding: 0.1em;
}

.Right_Section::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 100px;
}

.Form_Section {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.Form_Section .details {
  margin-bottom: 4.75em;
}

.Form_Section .details:last-of-type {
  margin-bottom: 2.5em;
}

.details {
  display: flex;
  flex-direction: column;
}

input {
  font-family: Russo One;
  width: 484px;
  margin-top: 0.5em;
  border-style: none;
  border: 1px solid white;
  color: inherit;
  background-color: transparent;
  padding: 10px;
  border-radius: 0.5em;
  font-size: 1.5rem;
}

@media (min-width: 1100px) and (max-width: 1300px) {
  .main {
    gap: 2em;
    padding: 50px 25px;
  }

  .Left_Section {
    margin-right: 2.5em;
  }
}

@media (max-width: 1100px) {
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .divider {
    width: 80%;
  }

  .Left_Section {
    margin: 0;
  }

  .Right_Section {
    height: auto;
  }
}

@media (max-width: 700px) {
  .divider {
    width: 80%;
  }

  .navbar {
    font-size: 1.5rem;
  }

  .Profile_Img {
    height: 250px;
    width: 250px;
  }

  .Form_Section {
    font-size: 1rem;
  }

  input {
    width: 400px;
    font-size: 1rem;
  }

  button {
    width: 14em;
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .divider {
    width: 85%;
  }

  .main {
    padding: 50px 15px;
  }

  input {
    width: 250px;
    font-size: 1rem;
  }

  button {
    width: 14em;
    padding: 10px;
    font-size: 0.8rem;
  }
}
